@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-default: 'Baloo 2', sans-serif;
  --font-heading: Rubik, sans-serif;
}

.light {
  --bg-default: #ffffff;
  --bg-gray: #f1f1f1;
  --bg-mint: #25796f;
  --bg-mint-hover: #00d1b7;
  --bg-mint-secondary: #25796f;
  --color-default: #262626;
  --color-mint: #25796f;
  --color-mint-hover: #00d1b7;
  --color-reverse: #ffffff;
}

.dark {
  --bg-default: #262626;
  --bg-gray: #353535;
  --bg-mint: #00d1b7;
  --bg-mint-hover: #8cfff1;
  --bg-mint-secondary: #25796f;
  --color-default: #ffffff;
  --color-mint: #00d1b7;
  --color-mint-hover: #8cfff1;
  --color-reverse: #262626;
}

@layer base {
  body {
    --font-default: 'Baloo 2', sans-serif;
    --font-heading: Rubik, sans-serif;
    @apply bg-default font-default text-default transition-colors;
  }

  h1,
  h2 {
    @apply font-black font-heading uppercase;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply font-default font-semibold leading-6;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h1 span {
    @apply text-7xl sm:text-8xl md:text-9xl block;
  }

  h2 {
    @apply mb-8 text-3xl sm:mb-12 md:mb-16 md:text-4xl lg:mb-20 lg:text-5xl;
  }

  h3 {
    @apply text-2xl md:mb-2 lg:text-3xl;
  }

  h4 {
    @apply text-lg;
  }

  a {
    @apply text-mint transition duration-500;
  }
}

@layer components {
  .container {
    @apply max-w-screen-xl my-16 sm:my-20 md:my-24 lg:my-28 first:mt-16 last:mb-16;
  }
}

.nav {
  width: calc(100% - 3rem);
}

.lead {
  @apply text-xl lg:text-2xl font-normal;
}

.center {
  @apply text-center;
}

.mint {
  @apply text-mint;
}

.blog {
  @apply my-16;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  li,
  p,
  blockquote {
    @apply md:ml-20 md:mr-20 lg:ml-28 lg:mr-28;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-12 mb-6;
  }

  p {
    @apply mb-4 last:mb-0;
  }

  blockquote {
    @apply border-l-4 border-mint text-xl italic my-8 py-4 pl-4;
  }

  blockquote p {
    @apply mx-0;
  }

  img {
    @apply rounded-3xl;
  }

  figure {
    @apply my-8;
  }

  figcaption {
    @apply mt-4 text-sm text-center italic;
  }
}
